proc/*
sys/*
#sys/block/*
#sys/bus/*
#sys/class/*
#sys/dev/*
#sys/devices/*
#sys/firmware/*
#sys/fs/*
#sys/module/* 
#--- have important files in sys/module, but can't git b/c can't write there
#sys/kernel/*
#sys/power/*

usr/share/man/*
*.zip
*.deb
*.bz2
*.gz
run/*
dev/char/*
usr/lib/jvm/java-6-openjdk-armhf/jre/lib/rt.jar
usr/share/icons/oxygen/icon-theme.cache
root/opencv-2.4.8/release/*
