[Desktop Entry]
Encoding=UTF-8
BinaryPattern=kantiword;Kantiword
Comment=*.doc Dateien per Drag&Drop auf das Icon anzeigen
Comment[de]=*.doc Dateien per Drag&Drop auf das Icon anzeigen
Comment[en]=displays *.doc files via drag'n'drop on this icon
Exec=kantiword a4 "%f"
GenericName=Anzeige für MS-Word-Dokument
GenericName[de]=Anzeige für MS-Word-Dokument
GenericName[en]=MS-Word document viewer
Icon=antiword
MimeType=application/msword
Name=Kantiword
StartupNotify=false
Terminal=false
Type=Application
