b.cBold
{
  font-weight: bold
}
code.cCode
{
  font-size: small
}
em.cEmphasis
{
  font-style: italic
}
b.cFunctionName
{
  font-weight: bold
}
sub.cSubscript
{
  vertical-align: sub
}
sup.cSuperscript
{
  vertical-align: super
}
span.cSyntax
{
  color: Navy;
  font-family: Times New Roman;
  font-size: medium
}
u.cUnderline
{
  text-decoration: underline
}
em.cVarName
{
  font-style: italic
}

p.pBody
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pBodyRelative
{
  color: Black;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCaption
{
  color: Black;
  font-style: italic;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellBody
{
  color: Black;
  font-variant: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellDescription
{
  color: Black;
  font-family: Times New Roman;
  font-size: medium;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellFortran
{
  color: Maroon;
  font-family: Courier New;
  font-size: x-small;
  font-variant: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellFortSyntax
{
  color: Green;
  font-family: Courier New;
  font-size: 10pt;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellFortVar
{
  color: Black;
  font-family: Courier New;
  font-size: 10pt;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellHeading
{
  color: Black;
  font-family: Times New Roman;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellHeadingWW
{
  color: Black;
  font-family: Times New Roman;
  font-size: medium;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pCellVariable
{
  color: Black;
  font-family: Times New Roman;
  font-size: medium;
  font-style: italic;
  font-variant: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pChapter
{
  color: Black;
  font-size: 25px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pChapterNumber
{
  color: Black;
  font-size: 25px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pChapterTitle
{
  color: Purple;
  font-family: Courier New;
  font-size: 25px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pcodebodyRM
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pcodebodyRM_level2
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pcodebodyRM_level3
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pDropDownClosed
{
  color: Black;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pDropDownOpen
{
  color: Black;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading1
{
  color: #003366;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pHeading2
{
  color: #003366;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h3.pHeading3
{
  color: #003366;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h4.pHeading4
{
  color: #003366;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h5.pHeading5
{
  color: #003366;
  font-size: 14px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h6.pHeading6
{
  color: #003366;
  font-size: 12px;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented1
{
  color: Black;
  font-variant: normal;
  margin-left: 2.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented2
{
  color: Black;
  font-variant: normal;
  margin-left: 5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented3
{
  color: Black;
  font-variant: normal;
  margin-left: 7.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented4
{
  color: Black;
  font-variant: normal;
  margin-left: 10em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndented5
{
  color: Black;
  font-variant: normal;
  margin-left: 12.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIndentedRelative
{
  color: Black;
  font-variant: normal;
  margin-left: 2.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h3.pInterfaceName
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h4.pInterfaceNameDuplicate
{
  color: #003366;
  font-size: 18px;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pInterfaceNameLOP
{
  color: Black;
  font-family: Times New Roman;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIXGroupNavigation
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIXGroupTitle
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-top: 8px;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pIXHeadingLink
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pIXLevel1
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 8px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 8px;
  text-transform: none
}
p.pIXLevel2
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 16px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 16px;
  text-transform: none
}
p.pIXLevel3
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 24px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 24px;
  text-transform: none
}
p.pIXLevel4
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 32px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 32px;
  text-transform: none
}
p.pIXLevel5
{
  color: Black;
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 40px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 40px;
  text-transform: none
}
h2.pIXTitle
{
  color: #003366;
  font-size: 25px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformatted
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pPreformattedRelative
{
  color: Black;
  font-family: Courier New, Courier, mono;
  font-size: 13px;
  font-variant: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
blockquote.pQuotation
{
  color: Black;
  font-variant: normal;
  margin-left: 2.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_AN_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_DF24_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_DFAN_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_DFK_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: larger;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_DFP_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: larger;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_DFR8_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_DFSD_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_DFU_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: larger;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_GR_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_H_Adv_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_H_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_HDF_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_HE_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_SD_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_V_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_VF_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_VS_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRef_VSQ_RoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: larger;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRefRoutineName
{
  color: Black;
  font-family: Times New Roman;
  font-size: large;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 20px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRefRoutineNameLOP
{
  color: Black;
  font-family: Times New Roman;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopic
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRelatedTopicOnly
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pRelatedTopicTitle
{
  color: #003366;
  font-size: 20px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pRoutinePurposeLOP
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSeeAlso
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pSeeAlsoTitle
{
  color: #003366;
  font-size: 20px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSeeAlsoTopic
{
  color: Black;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pSignature
{
  color: Green;
  font-family: Times New Roman;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  margin-bottom: 0em;
  margin-left: 1px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 1px;
  text-transform: none
}
p.pSignatureFortran
{
  color: Green;
  font-family: Courier New;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  margin-bottom: 0em;
  margin-left: 1px;
  margin-top: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 1px;
  text-transform: none
}
div.pSmartList1
{
  color: Black;
  font-variant: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList2
{
  color: Black;
  font-variant: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList3
{
  color: Black;
  font-variant: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList4
{
  color: Black;
  font-variant: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pSmartList5
{
  color: Black;
  font-variant: normal;
  margin-bottom: 6pt;
  margin-left: 0em;
  margin-top: 6pt;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pSyntaxLine
{
  color: Green;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.pTableTitle
{
  color: Black;
  font-style: italic;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTitle
{
  color: #003366;
  font-size: 25px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
h2.pTitleAppdx
{
  color: #003366;
  font-size: 25px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
p.pTOC1
{
  color: #003366;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none
}
p.pTOC2
{
  color: #003366;
  font-variant: normal;
  margin-bottom: 0px;
  margin-left: 8px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 8px;
  text-transform: none
}
p.pTOC3
{
  color: #003366;
  font-variant: normal;
  margin-bottom: 0px;
  margin-left: 16px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 16px;
  text-transform: none
}
p.pTOC4
{
  color: #003366;
  font-variant: normal;
  margin-bottom: 0px;
  margin-left: 24px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 24px;
  text-transform: none
}
p.pTOC5
{
  color: #003366;
  font-variant: normal;
  margin-bottom: 0px;
  margin-left: 32px;
  margin-top: 0px;
  text-align: left;
  text-decoration: none;
  text-indent: 32px;
  text-transform: none
}
h2.pTOCTitle
{
  color: #003366;
  font-size: 25px;
  font-variant: normal;
  font-weight: bold;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}
div.ptoseechanges
{
  color: Green;
  font-family: Courier New;
  font-size: 10pt;
  font-variant: normal;
  margin-left: 0em;
  text-align: left;
  text-decoration: none;
  text-indent: 0em;
  text-transform: none
}

