#!/bin/sh

set -e
#set -x

. /usr/share/debconf/confmodule

#db_fset shared/blas_lapack isdefault true

STAT=0

case $STAT in
	4|3) db_input high   liblapack3gf/crit ;  db_input high   liblapack3gf/ttr;;
	2)   db_input medium liblapack3gf/sig ;   db_input medium liblapack3gf/ttr;;
	1)   db_input low    liblapack3gf/minor ; db_input low    liblapack3gf/ttr;;
	*);;
esac

db_go
