body {
    margin-top: 0;
}

body * {
    font-family: georgia, verdana, arial, sans-serif;
}

h2 {
    margin-bottom: 0;
    margin-left: 1em;
}

a { text-decoration: none; }
a:visited { color: #a0a }

label { font-weight: bold; }

#top-bar {
    position: relative;
    top: 0; left: 0;
    padding: 0;
    margin: 1ex 0;
    padding-bottom: 1ex;
    width: 100%;

    border-bottom: 1px solid;

    font-size: 16px;
}
#top-bar * { font-size: 16px; }
#top-bar h1 {
    display: inline;
    margin-top: 0;
    padding-top: 0;

    font-weight: normal;
}

#logo img {
    padding-right: 0.3em;
    border: 0;
}
#navigation-bar {
    position: absolute;
    top: 0;
    right: 0;
}
#content { clear: both; }

#search-form { display: inline; text-align: right; }
#search-form-contents { display: inline }

.rank {
    float: left;
    font-size: large;
}
.result {
    margin-top: 2ex;
}
.result-description {
    font-size: large;
    margin-left: 4em;
    display: block;
}
.extract {
    font-size: medium;
    font-style: italic;
    display: block;
}

.pager {
    text-align: right;
    border-top: 0;
    margin-top: 0;
}

.page  {
    font-weight: bold;
    font-size: 120%;
}
.current-page { color: #bbb }

#dir-panel {
    margin: 1em;
}
.dir-panel-entry-subsection { margin-left: 1em; }

.doc_name { font-weight: bold; }
.doc_description {
    font-size: small;
    margin-bottom: 2ex;
}

#item-list {
    float: right;
    width: 80%;
}
