#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Arduino IDE
GenericName=Arduino IDE
Comment=IDE for Arduino
Exec=/opt/arduino-1.5.4/arduino %F
Icon=arduino
Terminal=false
X-MultipleArgs=false
Categories=Development;IDE;GTK;
StartupNotify=true
TargetEnvironment=Unity

