<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title><%= @section_title %></title>
    <link rev="made" href="mailto:dhelp@packages.debian.org">
    <link rel="stylesheet" href="<%= @doc_path_prefix %>dhelp/dhelp.css">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <script type="text/javascript">
        function fetch_document(path) {
            var online = location.href.match(/^http/)
            if (online) {
                location.href = '/cgi-bin/dhelp_fetcher?file='+encodeURIComponent(path);
                return false;
            }
        }
    </script>
</head>
<body>
    <div id="top-bar">
        <h1><a href="<%= @doc_path_prefix %>HTML/"><span id="logo"><img src="<%= @doc_path_prefix %>dhelp/swirl.jpg" alt=""><img src="<%= @doc_path_prefix %>dhelp/debian.jpg" alt="Debian"></span>
            <%= _("Online Help") %></a></h1>

        <div id="navigation-bar">
            <a href="/cgi-bin/info2www"><%= _("info pages") %></a> |
            <a href="/cgi-bin/man/man2html"><%= _("man pages") %></a> |
            <a href="<%= @doc_path_prefix %>"><%= _("documentation folder") %></a> |

            <form id="search-form" action="/cgi-bin/dsearch">
                <div id="search-form-contents">
                    <input type="text" name="search">
                    <input type="submit" value="<%= _("Search") %>">
                </div>
            </form>
        </div>
    </div>

    <div id="content">
        <h2><%= @section_title %></h2>

        <div id="item-list">
            <dl>
            <!-- Items in this section -->
            <% @item_list.each do |item| %>
                <% doc_supported_formats = item.formats.find_all {|f| @supported_formats.include? f.format.downcase} %>
                <% unless doc_supported_formats.empty? %>
                    <dt><img src="<%= @doc_path_prefix %>dhelp/text.png" alt=""> <span class="doc_name"><%= item.title %></span>
                    <% doc_supported_formats.each do |format| %>
                        <% format_index = format.index %>
                        <% if format_index %>
                            <a onclick="return fetch_document('<%= format.index %>')" href="<%= resource_url(format_index) %>"><%= format_name(format.format) %></a>
                        <% else %>
                            <% $stderr.puts "Invalid format #{format.format} for #{item.document} (#{item.title})" %>
                        <% end %>
                    <% end %>
                    </dt>
                    <dd class="doc_description"><%= item.abstract %></dd>
                <% end %>
            <% end %>
            </dl>
        </div>

        <div id="dir-panel">
            <!-- Directory list -->
            <% @section_tree.keys.sort.each do |entry| %>
                <div class="dir-panel-entry">
                    <img src="<%= @doc_path_prefix %>dhelp/folder.png" alt="">
                        <a href="<%= @doc_path_prefix %>HTML/<%= entry %>/index.html"><%= entry %>/</a>
                    <% @section_tree[entry][:subsections].keys.sort.each do |ss| %>
                        <div class="dir-panel-entry-subsection">
                            <img src="<%= @doc_path_prefix %>dhelp/folder.png" alt="">
                                <a href="<%= @doc_path_prefix %>HTML/<%= entry %>/<%= ss %>/index.html"><%= ss.gsub("/", "/ ") %>/</a>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</body>
</html>
